.conoceme-button {
    background: linear-gradient(270deg, #2AF598 0%, #08AEEA 100%);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #0884ea;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.conoceme-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #08AEEA;
    right: 0.3em;
    transition: all 0.3s;
}

.conoceme-button:hover .icon {
    width: calc(100% - 0.6em);
}

.conoceme-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #08AEEA;
}

.conoceme-button:hover .icon svg {
    transform: translateX(0.1em);
}

.conoceme-button:active .icon {
    transform: scale(0.95);
}

.headertext {
    background-color: #2197BE;
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    justify-content: center;
}